#yeah{
  max-width: 100%;
  overflow: hidden;
}
.pVAR2{
  font-family: 'Piazzolla-Light';
  font-size: 215px;
  position: absolute;
  color: white;
  z-index:3;
  top:-5%;
  left:-1%;
  white-space: nowrap;
}
section {
display: block;
width: 100%;
height: 100%;
position: relative;

}
.links{
  display: block;
  position: absolute;
  left:25%;
  top:30%;
}
#nubexVideo{
  width:200vh;
  height: 100vh;
}
.head{
  font-family: 'Arsenal-Regular';
  font-size: 32px;
  position: absolute;
  color: white;
  z-index:2;
  white-space: nowrap;
  overflow: visible;
  text-decoration: none;
}
.head:hover{
  color: #CAFF44;
}
#p1{
  margin-left:350px;
}
#p2{
  margin-left:610px;
  margin-top:100px;
}
#p3{
  margin-left:740px;
  margin-top:220px;
}
#p4{
  margin-left:0px;
  margin-top:150px;
}
#p5{
  margin-left:570px;
  margin-top:360px;
}
#p6{
  margin-left:100px;
  margin-top:440px;
}
.p1_lil{
  position: absolute;
  width:20%;
}
.thumb-item{
  height:auto ;
  overflow: hidden;
  position: absolute;
  z-index: 0;
}
.flex{
  position: relative;
}
#photo_1{
  position: absolute;
  z-index: 3;
  width:7%;
  margin-left:56%;
  margin-top:3%;
  opacity: 0%;
  animation: moveX_1 15s linear 0s infinite alternate, moveY_1 15s linear 0s infinite alternate;
}
#event_1{
  position: absolute;
  z-index: 3;
  width:5%;
  margin-left:56%;
  margin-top:3%;
  opacity: 0%;
  animation: moveX_1 15s linear 0s infinite alternate, moveY_1 15s linear 0s infinite alternate;
}
#shop_1{
  position: absolute;
  z-index: 3;
  width:14%;
  margin-left:56%;
  margin-top:3%;
  opacity: 0%;
  animation: moveX_1 15s linear 0s infinite alternate, moveY_1 15s linear 0s infinite alternate;
}
@keyframes moveX_1 {from {left: 0;} to {left: 6%;}}
@keyframes moveY_1 {from {top: 0;} to {top: 3%;}}
#photo_2{
  position: absolute;
  z-index: 3;
  width:4%;
  margin-left:43%;
  margin-top:2.5%;
  opacity: 0%;
  animation: moveX_2 15s linear 0s infinite alternate, moveY_2 15s linear 0s infinite alternate;
}
#event_2{
  position: absolute;
  z-index: 3;
  width:4%;
  margin-left:43%;
  margin-top:2.5%;
  opacity: 0%;
  animation: moveX_2 15s linear 0s infinite alternate, moveY_2 15s linear 0s infinite alternate;
}
#shop_2{
  position: absolute;
  z-index: 3;
  width:11%;
  margin-left:37%;
  margin-top:2.5%;
  opacity: 0%;
  animation: moveX_2 15s linear 0s infinite alternate, moveY_2 15s linear 0s infinite alternate;
}
@keyframes moveX_2 {from {left: 0;} to {left: -5%;}}
@keyframes moveY_2 {from {top: 0;} to {top: 2%;}}
#photo_3{
  position: absolute;
  z-index: 3;
  width:4%;
  margin-left:10%;
  margin-top:2.5%;
  opacity: 0%;
  animation: moveX_3 15s linear 0s infinite alternate, moveY_3 15s linear 0s infinite alternate;
}
#event_3{
  position: absolute;
  z-index: 3;
  width:4%;
  margin-left:10%;
  margin-top:2.5%;
  opacity: 0%;
  animation: moveX_3 15s linear 0s infinite alternate, moveY_3 15s linear 0s infinite alternate;
}
#shop_3{
  position: absolute;
  z-index: 3;
  width:11%;
  margin-left:10%;
  margin-top:2.5%;
  opacity: 0%;
  animation: moveX_3 15s linear 0s infinite alternate, moveY_3 15s linear 0s infinite alternate;
}
@keyframes moveX_3 {from {left: 0;} to {left: 7%;}}
@keyframes moveY_3 {from {top: 0;} to {top: 3%;}}
#photo_4{
  position: absolute;
  z-index: 3;
  width:4%;
  margin-left:80%;
  margin-top:2.5%;
  opacity: 0%;
  animation: moveX_4 15s linear 0s infinite alternate, moveY_4 15s linear 0s infinite alternate;
}
#event_4{
  position: absolute;
  z-index: 3;
  width:4%;
  margin-left:80%;
  margin-top:2.5%;
  opacity: 0%;
  animation: moveX_4 15s linear 0s infinite alternate, moveY_4 15s linear 0s infinite alternate;
}
#shop_4{
  position: absolute;
  z-index: 3;
  width:5%;
  margin-left:80%;
  margin-top:2.5%;
  opacity: 0%;
  animation: moveX_4 15s linear 0s infinite alternate, moveY_4 15s linear 0s infinite alternate;
}
@keyframes moveX_4 {from {left: 0;} to {left: 4%;}}
@keyframes moveY_4 {from {top: 0;} to {top: 3%;}}

.fail{
  text-align: center;
  font-size: 5vw;
}
.circling{
    left: 500px;
    position: absolute;
    top: 200px;
    transform: rotate(45deg) translateX(150px) rotate(-45deg);
    -webkit-animation: ort 4s linear infinite; /* Chrome, Safari 5 */
       -moz-animation: ort 4s linear infinite; /* Firefox 5-15 */
         -o-animation: ort 4s linear infinite; /* Opera 12+ */
            animation: ort 4s linear infinite;
}
@-webkit-keyframes ort {
 from { -webkit-transform: rotate(0deg) translateX(150px) rotate(0deg); }
 to   {  -webkit-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@-moz-keyframes ort {
 from { -moz-transform: rotate(0deg) translateX(150px) rotate(0deg); }
 to   {  -moz-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@-o-keyframes ort {
 from { -o-transform: rotate(0deg) translateX(150px) rotate(0deg); }
 to   {  -o-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@keyframes ort {
 from { transform: rotate(0deg) translateX(150px) rotate(0deg); }
 to   {  transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}
.name, .name2, .email{
  width: 15vw;
  font-size: 3vh;
  position: relative;
  margin-left: 70vw;
  margin-top: 50vw;
}
#name{
  margin-top: 15vw;
}
#name2{
  margin-top: 1vw;
}
#email{
  margin-top: 1vw;
}
.borderr{
  border: 2px solid #FFFFFF;
}
.submit{
  color:white;
  margin-top: 1vw;
  margin-left: 70vw;
  position: relative;
  font-family: 'Arsenal-Regular';
  font-size: 1.2vw;
}
.submit:hover{
  color: #CAFF44;

}
.karta{
margin-top: 20rem;
margin-left: 4rem;
filter: hue-rotate(80deg);
opacity: 80%;
}
.sad{
background-image: url(../img/contacts_back.png);
background-repeat:no-repeat;
background-size: cover;

}
.work_hours{
  font-family: 'Arsenal-Regular';
  font-size: 1.4vw;
  margin-top:13%;
  margin-left:4%;
  position: absolute;
  color: white;
  z-index:2;
}
.number{
  font-family: 'Arsenal-Regular';
  font-size: 1.4vw;
  margin-top:13%;
  margin-left:39%;
  position: absolute;
  color: white;
  z-index:2;
}
.about_img_1{
  width:30vw;
  position: absolute;
  margin-top: 11%;
  margin-left:4%;
}
.about_img_2{
  width:30vw;
  position: absolute;
  margin-top: 18%;
  margin-left:40%;
}
