.heading{
  display: block;
  width:100%;
  height:210px;
  position: relative;
  overflow: hidden;
}
.heading a{
  font-family: 'Piazzolla-Light';
  font-size: 215px;
  position: absolute;
  color: black;
  width:100%;
  margin-left: -30px;
  margin-top: -50px;
  white-space: nowrap;
  text-decoration: none;
}
nav{
  position: relative;
  display: block;
  width:100%;
  height: 50px;
}
.menu-items{
  display:flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}
.menu-items a{
  line-height: 50px;
  color:black;
  cursor: pointer;
  ont-family: 'Piazzolla-Regular';
  font-size: 24px;
}
.menu-items a:hover{
  color: #CAFF44;
}
.poster1{
  position: relative;
  width: 15%;
  margin-top: 3%;
  margin-left: 5%;
  z-index:3;
}
.poster2{
  position:relative;
  display: block;
  width: 15%;
  margin-top: 3%;
  margin-left: 5%;
  z-index:3;
}
.poster3{
  position: absolute;
  width: 15%;
  margin-top: 32%;
  margin-left: 5%;
  z-index:3;
  display: none;
}
txt1{
  position: absolute;
  margin-top: 5%;
  margin-left: 22%;
  font-size: 18px;
  font-family: 'Piazzolla-Regular';
  color: black;
  z-index:3;
}
txt2{
  position: absolute;
  margin-top: 31%;
  margin-left: 22%;
  font-size: 18px;
  font-family: 'Piazzolla-Regular';
  color: black;
  z-index:3;
}

.panel_1{
  width: 100%;
  margin-top:4%;
  position: absolute;
  background-color: white;
  height: 150px;
  z-index:2;
  opacity: 67%;
}
