#kvest_main_1{
  width:80%;
  margin-left:10%;
  margin-top:5%;
  position: relative;
}
#kvest_main_2{
  width:80%;
  margin-left:10%;
  margin-top:8%;
  position: relative;
}
#kvest_main_3{
  width:80%;
  margin-left:10%;
  margin-top:8%;
  position: relative;
}
.kvests{
  justify-content: center;
  align-items: center;
  width:100%;
  height: auto;
}
.kwest:hover{
  outline: 2px solid #CAFF44;
}
#arrow{
  position: absolute;
  left: 94%;
  top:38%;
}
.room_cover{
  width:100vw;
  margin-top:1.5%;
  position: relative;
}
.description{
  font-family: 'Arsenal-Regular';
  font-size: 1.4vw;
  margin-top:3%;
  margin-left:4%;
  position: absolute;
  color: white;
  z-index:2;
  line-height: normal;
}
.mode{
  font-family: 'Arsenal-Regular';
  font-size: 1.4vw;
  margin-top:3%;
  margin-left:80%;
  position: absolute;
  color: white;
  z-index:2;
}
.button_bron{
  border: 2px solid white;
  width: 15vw;
  height: 10vh;
  margin-top:14%;
  margin-left:4%;
  line-height:10vh;
  position: absolute;
  font-family: 'Arsenal-Regular';
  font-size: 1.5vw;
  color: white;
  text-align: center;
  text-decoration: none;
}
.button_bron:hover{
  border: 2px solid #CAFF44;
}
.room_img_1{
  margin-top:25%;
  margin-left:4%;
}
.room_img_2{
  margin-top:25%;
  margin-left:5%;
}
.footer{
  margin-top:4%;
  width: 100vw;
  height:13vh;
  font-family: 'Arsenal-Regular';
  font-size: 1.5vw;
  color: black;
}
.footer2{
  margin-top:4%;
  position: absolute;
  margin-top:25%;
  margin-left:5%;
  width: 100vw;
  height:13vh;
  font-family: 'Arsenal-Regular';
  font-size: 1.5vw;
  color: black;
}
.footer3{
  margin-top:4%;
  position: absolute;
  margin-top:48%;
  width: 100vw;
  height:13vh;
  font-family: 'Arsenal-Regular';
  font-size: 1.5vw;
  background-color: #CAFF44;
}
.footer4{
  margin-top:4%;
  position: absolute;
  margin-top:285%;
  width: 100vw;
  height:13vh;
  font-family: 'Arsenal-Regular';
  font-size: 1.5vw;
  background-color: #CAFF44;
}
#adr{
  margin-left:4%;
  margin-top: 1.5%;
  position: absolute;
}
#ema{
  margin-left:29%;
  margin-top: 1.5%;
  position: absolute;
}
.title{
  position: absolute;
  font-family: 'Arsenal-Regular';
  font-size: 3.2vw;
  margin-left:4%;
  margin-top: -6.5%;
  color: white;
}
.title_HA{
  position: absolute;
  font-family: 'Arsenal-Regular';
  font-size: 3.2vw;
  margin-left:13%;
  margin-top: -6.5%;
  color: white;
}
