@import "reset.css";
@import "content.css";
@import "event.css";
@import "photo.css";
@font-face{
	font-family: 'Piazzolla-Light';
	src: url(../fonts/Piazzolla-Light.otf);
}
@font-face{
	font-family: 'Piazzolla-Regular';
	src: url(../fonts/Piazzolla-Regular.otf);
}
@font-face{
	font-family: 'Arsenal-Regular';
	src: url(../fonts/Arsenal-Regular.ttf);
}
